@import '../../scss/variables';
@import '../../scss/styleMixins';

.contactSection {
    @include section();
    height: max-content;

    &_content {
        width: 100%;
        height: max-content;
    }

    &_caption {
        @include caption();
    }

    &_header {
        @include title();
    }
}

.contactForm {
    width: 100%;
    height: max-content;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    background-color: $white;
    border-radius: $borderRadius;
    border: 2px solid $primaryMain;
    border-top-width: 0.5rem;
    border-bottom-width: 0.5rem;

    &_group {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
    }

    &_label {
        @include caption();
        color: $textDarkPrimary;
    }

    &_input {
        width: 100%;
        background-color: $white;
        padding: 1rem;
        font-size: 0.9rem;
        border-radius: $borderRadius;
        color: $textDark;
        border: 1px solid $shadowColor;

        &::placeholder {
            color: inherit;
        }

        &:focus {
            border-color: $secondaryMain;
        }
    }

    textarea {
        resize: none;
        height: 15ch;
        line-height: inherit;
    }

    &_btn {
        @include btnPrimary();
        height: max-content;
    }
}

@media screen and (min-width: $breakPoint) {
    .contactSection {
        height: max-content;
    }

    .contactForm {
        &_btn {
            width: 100%;
        }
    }
}
