@tailwind base;
@tailwind components;
@tailwind utilities;

$primaryColor: #4794f5;
$secondaryColor: #1778f2;
$textSecondary: #717784;
$shadow-400: 0px 9px 21px 0px #364c791a, 0px 38px 35px 0px #242e420f,
	0px 85px 51px 0px #242e420d;

html {
	font-size: 16px;
}

*::after,
*::before,
* {
	@apply border-inherit text-inherit;
	line-height: inherit;
}

body {
	max-width: 100vw !important;
	overflow-x: hidden !important;
	line-height: 1.5;

	@apply text-base font-primary text-textSecondary;

	&::-webkit-scrollbar-thumb {
		@apply bg-gray-400;
	}

	&::-webkit-scrollbar {
		@apply bg-transparent w-[8px] h-[5px] block;
	}

	&::-webkit-scrollbar-thumb {
		@apply rounded-full;
	}
}

.custom-scrollbar {
	&::-webkit-scrollbar-thumb {
		@apply bg-gray-400 lg:bg-transparent;
	}

	&:hover {
		&::-webkit-scrollbar-thumb {
			@apply bg-gray-400;
		}
	}

	&::-webkit-scrollbar {
		@apply bg-transparent w-[5px] h-[5px] block;
	}

	&::-webkit-scrollbar-thumb {
		@apply rounded-full;
	}
}

@layer base {
}

@layer components {
	.btn {
		@apply flex flex-row justify-center items-center px-6 py-2 rounded-lg font-medium transition-all duration-300 before:transition-all before:duration-300 after:transition-all after:duration-300 hover:bg-gray-100;

		box-shadow: $shadow-400;
		&:hover {
			box-shadow: 0 0 0 0 transparent;
		}
	}

	.btn-small {
		@extend .btn;
		@apply px-4 py-2 text-sm;
	}

	.btn-big {
		@extend .btn;
		@apply px-8 py-3 text-lg;
	}

	.btn-primary {
		@apply bg-primary text-white duration-300 z-[1] transition-all hover:bg-dark relative overflow-hidden before:absolute before:top-0 before:right-0 before:left-0 before:bottom-0 before:bg-primary before:z-[-1] before:opacity-0 hover:before:opacity-100;

		background: linear-gradient(180deg, #4794f5 0%, #1778f2 100%);
	}

	.btn-white {
		@apply bg-white text-dark border-[1px] border-gray-100 hover:bg-gray-100;
	}
}

@layer utilities {
	.text-h1 {
		@apply text-5xl font-bold;
	}
}

@import "./components";
