@import '../../scss/variables';
@import '../../scss/styleMixins';

.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text;
    background-color: $primaryMain;

    &_content {
        width: min-content;
        @include resPadding();
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_heading {
        font-size: clamp(2.8rem, 4vw, 5rem);
        font-weight: 700;
        color: $white;
        line-height: 1.1;
        letter-spacing: -2px;
        text-align: center;
        margin-bottom: 2rem;
        text-shadow: rgba(0, 0, 0, 0.15) 3px 4px 5px;
        font-family: $fontHeading;

        &-colored {
            color: #ff6785;
        }
    }

    &_subHeading {
        // display: block;
        width: 100%;
        font-weight: normal;
        text-align: center;
    }

    &_cta {
        margin-top: 12vh;
        width: 100%;

        &_btn {
            @include btnSecondary();
            background-color: #ff6785;
        }
    }

    &_bgArt {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .hero {
        justify-content: flex-start;

        &_bgArt {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 40vw;
            transform: translate(0, -50%);
        }

        &_content {
            align-items: flex-start;
        }

        &_heading,
        &_subHeading {
            text-align: left;
        }

        &_cta {
            justify-content: flex-start;
        }
    }
}
