/* navbar animation */
@keyframes navbarAnim {
  to {
    @apply translate-y-0;
  }
}

/* mobile bar animation */
@keyframes mobileBarAnim {
  to {
    @apply translate-y-0;
  }
}

@keyframes textSlideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* loading animations */
@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
}

/* footer animations */
@keyframes footerBorderGrow {
  to {
    width: 100%;
  }
}
