@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-200: #338dff;
    --primary-400: #0070ff;
    --primary-600: #0f00ff;
}

html {
    height: -webkit-fill-available !important;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.6;
    @apply max-w-full overflow-x-hidden;

    &[data-theme="light"] {
        @apply font-body bg-slate-100 text-slate-700 max-w-full overflow-x-hidden;
    }

    &[data-theme="dark"] {
        @apply font-body bg-gray-950 text-slate-400;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-display;
}

.truncate {
    width: 100%;
    max-width: 100% !important;
    max-height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-3 {
    @extend .truncate;
    -webkit-line-clamp: 3;
}

.display-content {
    @apply prose max-w-full prose-slate;

    &.display-content-large {
        @apply prose-lg;
    }

    &.display-content-dark {
        @apply prose-invert prose-p:text-slate-200 prose-ul:text-slate-200 prose-strong:text-slate-200 prose-pre:bg-slate-900 prose-h2:text-slate-200;
    }
}

.display-content > img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.display-content-muted {
    @apply prose prose-sm prose-invert max-w-full prose-slate prose-p:text-slate-300 prose-ul:text-slate-300 prose-strong:text-slate-300 prose-pre:bg-slate-900 prose-h2:text-slate-300;

    &.error {
        color: #b91c1c !important;
    }
}

@keyframes beating-colors {
    0%,
    100% {
        color: var(--primary-400);
        scale: 1.2;
    }
    50% {
        @apply text-slate-300;
        scale: 1;
    }
}
.beating-colors {
    animation: beating-colors 1s ease infinite forwards;
}

@keyframes indicator-anim {
    from {
        left: -20px;
    }
    to {
        left: 120%;
    }
}
.hero-enter-btn {
    position: absolute;
    left: -20px;
    animation: indicator-anim 10s linear infinite;
}

@keyframes cursor-blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.cursor-blink {
    animation: cursor-blink 1s infinite;
}
