@import '../../scss/variables';

.projectSection {
    @include section();
    color: $textDark;

    &_projectCat {
        width: 100%;
        height: max-content;
    }

    .title {
        color: $textDarkPrimary;
        margin-bottom: 1rem;

        .colored {
            color: $primaryMain;
        }
    }

    .caption {
        color: $secondaryLight;
    }

    &_projectCatCards {
        width: 100%;
        height: max-content;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 2rem;
        grid-gap: 1rem;
        margin-top: 2rem;

        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
    }
}

@media screen and(min-width: $breakPoint) {
    .projectSection {
        &_projectCatCards {
            flex-direction: column;
            overflow: visible;
            padding: 2rem 0;
        }
    }
}
