@import '../../scss/variables';
@import '../../scss/styleMixins';

.myServices {
    @include section();
    background-color: $primaryMain;

    &_header {
        width: 100%;
        height: 100%;
    }

    &_caption {
        @include caption();
        color: $secondaryLight;
    }

    &_heading {
        @include title();
        color: $white;

        .colored {
            color: $secondaryLight;
        }
    }
}
