@import '../../scss/variables';
@import '../../scss/styleMixins';

.myServices {
    @include section();
    background-color: $primaryMain;
    display: flex;
    flex-direction: column;
    min-height: max-content;

    &_header {
        width: 100%;
        height: 100%;
        max-width: 60ch;
        margin-bottom: 3rem;
    }

    &_caption {
        @include caption();
        color: $secondaryMain;
    }

    &_heading {
        @include title();
        color: $white;

        .colored {
            color: $secondaryMain;
        }
    }

    &_cards {
        width: 100%;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
