@import '../../scss/variables';

.navbar {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    @include resPadding();
    color: $text;
    backdrop-filter: blur(15px);
    font-family: $fontBody;
    background-color: rgba(0, 113, 241, 0.8);

    &_logo {
        width: 60px;
        height: 60px;
        cursor: pointer;

        img {
            width: inherit;
            height: inherit;
            pointer-events: none;
            margin-left: -15px;
        }
    }

    &_linksList {
        display: none;

        &_item {
            padding: 0.6rem 1rem;
            cursor: pointer;
            font-weight: 700;
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: inherit;
            border-radius: $borderRadius;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
                color: #fff;
            }
        }
    }

    &.show {
        position: fixed;
        height: 60px;
        border-bottom: 0.5px solid $primaryLight;
    }
}

@media screen and (min-width: 1000px) {
    .navbar {
        &_linksList {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
