@import './variables';

.aboutMe {
    width: 100%;
    height: max-content;
    margin-bottom: 10rem;
    @include resPadding();
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &_content {
        position: relative;
        width: max-content;
        margin: 6rem;
        max-width: 100%;
        color: #fff;
        display: grid;
        justify-items: center;
        grid-template-areas:
            'img'
            'myself'
            'links';

        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
        }

        &::before {
            background-color: $primaryMain;
            bottom: 0;
            height: 90%;
            width: 150%;
            left: 50%;
            transform: translateX(-50%);
            display: block;
        }

        &::after {
            z-index: -2;
            bottom: 0px;
            height: 50%;
            width: 90%;
            background-color: rgba(0, 0, 0, 0.7);
            filter: blur(15px);
        }

        &_img {
            grid-area: img;
            width: 220px;
            height: 220px;
            background-color: $primaryLight;
            border-radius: 50%;
            box-shadow: $shadow;
            transform: translateY(-50px);
        }

        &_myself {
            grid-area: myself;
            width: 100%;
            max-width: 680px;
            height: max-content;
            padding: 1.5rem;

            &_text {
                display: block;

                &.big {
                    @include fontSizeH2();
                    color: #fff;
                    margin-bottom: 1rem;
                }
            }
        }

        &_links {
            grid-area: links;
            width: 100%;
            height: max-content;
            padding: 1rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            &_btn {
                font-size: 1.5rem;
                padding: 0.5rem;
                color: $primaryDark;
                cursor: pointer;
                @include transition(color);

                &:hover {
                    color: $primaryMid;
                }

                &.big {
                    width: 100%;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    background-color: $primaryMid;
                    color: $primaryLight;
                    margin-bottom: 2rem;
                    margin-top: 1rem;
                    @include transition(background-color);

                    &:hover {
                        background-color: $primaryDark;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .aboutMe {
        &_content {
            grid-template-areas:
                'img myself'
                'links myself';

            &::before {
                height: 100%;
            }

            &::after {
                width: 140%;
            }

            &_img {
                margin-top: -2rem;
                margin-left: -2rem;
            }

            &_myself {
                padding: 3rem 1.5rem;
            }
        }
    }
}
