@keyframes navbar-show-anim {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes loading-animation {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes onload-animation {
    0% {
        opacity: 0.5;
        margin-top: 20px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}
