@import './variables.scss';

.bottomBar {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3rem;
  z-index: 1000;
  background-color: $primaryMain;
  width: 100%;
  box-shadow: $shadowColor 0px -2px 10px 0px;
  @include resPadding();

  &_nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &_link {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      font-size: 1.3rem;
      color: $primaryDark;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primaryMain;

      &.active {
        transform: translateY(-10px);
        color: $primaryLight;
        box-shadow: $shadowColor 0px -10px 10px -8px;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .bottomBar {
    display: none;
  }
}
