@import './variables';

.button {
    position: relative;
    z-index: 5;
    width: max-content;
    height: max-content;
    cursor: pointer;
    color: #fff;
    @include fontSize(true);
    letter-spacing: 0.055em;
    text-transform: uppercase;
    padding: 0.6rem 1rem;
    @include transition(color);

    &::before,
    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    &::before {
        width: 60%;
        background-color: $primaryDark;
        box-shadow: $shadow;
        @include transition(width);
    }

    &::after {
        width: 100%;
        border: 2px solid $primaryDark;
        transform: translate(5px, 5px);
        @include transition(transform);
    }

    &:hover {
        color: #fff;

        &::before {
            width: 100%;
        }

        &::after {
            transform: translate(0, 5px);
        }
    }

    &.text {
        padding: 0.6rem;
        margin: 0;
        color: $primaryMain;

        &::before {
            display: none;
        }
        &::after {
            display: none;
        }

        &:hover {
            color: $primaryDark;
        }
    }

    &.big {
        height: 100%;
        padding: 0.8rem 1.4rem;
        background-color: $primaryMid;
    }
}
