.contactForm {
    width: 100%;
    max-width: 650px;
    padding: 1.5rem;
    position: relative;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    &::before,
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
    }

    &::before {
        height: 90%;
        width: 65%;
        top: 0;
        left: 0;
        background-color: $primaryMain;
    }

    &::after {
        height: 95%;
        width: 60%;
        bottom: 0;
        right: 0;
        border: 2px solid $primaryMain;
    }

    &_group {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
    }

    &_label {
        color: $primaryDark;
        font-weight: 900;
        text-transform: uppercase;
    }

    &_input {
        width: 100%;
        background-color: #fff;
        box-shadow: $shadow;
        padding: 1.2rem;
        font-size: 0.9rem;
        font-family: $fontBody;
    }

    textarea {
        resize: none;
        height: 15ch;
        line-height: inherit;
    }

    button {
        width: 50%;
        // justify-self: center;
        max-width: 10rem;
        // margin-left: -10rem;
    }
}
