@import './variables';

.navbar {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  @include resPadding();

  &_logo {
    width: 60px;
    height: 60px;
    cursor: pointer;

    img {
      width: inherit;
      height: inherit;
      pointer-events: none;
      margin-left: -15px;
    }
  }

  &_linksList {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .navbar {
    &_linksList {
      display: flex;
      justify-content: center;
      align-items: center;

      &_item {
        padding: 1rem;
        color: $text;
        cursor: pointer;
        font-size: 0.9rem;
        @include transition(color);

        &:hover {
          color: $primaryDark;
          transform: translateY(1px);
        }
      }
    }

    &.showShadow {
      position: fixed;
      background-color: $primaryMain;
      box-shadow: $shadow;
      height: max-content;

      .navbar_linksList_item {
        color: #fff;

        &:hover {
          color: $primaryDark;
          transform: translateY(1px);
        }
      }
    }
  }
}
