@import './variables.scss';

.projectSection {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;

    &_wrapper {
        display: flex;
        flex-direction: column;
        grid-gap: 8rem;
    }

    &_action {
        margin-top: 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1000px) {
    .projectSection {
        grid-gap: 5rem;

        &_wrapper {
            grid-gap: 12rem;
        }
    }
}

@import './projectCard';
