.service_card {
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
    box-shadow: $shadow;
    text-align: center;
    background-color: #fff;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        transform: translate(-10px, -10px);
        width: 100%;
        height: 90%;
        border: 2px solid $primaryMain;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
        transform: translate(10px, 10px);
        border-color: $primaryDark;
    }

    &_icon {
        width: 7rem;
        height: 7rem;
        font-size: 2rem;
        color: $primaryMain;
        background-color: $primaryLight;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_title {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-size: 1.1rem;
        font-weight: 900;
        color: $primaryMain;
    }
}
