@mixin resPadding {
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    @media screen and (min-width: 1000px) {
        padding-right: 14vw;
        padding-left: 14vw;
    }
}

@mixin transition($property: all) {
    transition: $property 0.2s ease-in;
}

@mixin boxShadow {
    box-shadow: $shadowColor 0px 7px 17px 0px;
}

@mixin btnPrimary() {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    font-family: $fontBody;
    padding: 1rem 1.2rem;
    background-color: $primaryMain;
    border-radius: $borderRadius;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 0.8rem;
    z-index: 1;
    position: relative;
    overflow: hidden;
    width: 100%;

    @media screen and (min-width: $breakPoint) {
        width: max-content;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
            background-color: transparent;
            @include transition(background-color);
        }

        &:hover::before {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

@mixin btnSecondary {
    @include btnPrimary();
    background-color: $secondaryMain;
}

@mixin section() {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    @include resPadding();
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 3rem;

    @media screen and (min-width: $breakPoint) {
        grid-template-columns: 50% 50%;
    }
}

@mixin caption {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-family: $fontBody;
    color: $secondaryMain;
}

@mixin title {
    font-size: 1.5rem;
    line-height: 1.1;
    font-weight: 700;
    font-family: $fontHeading;
    letter-spacing: -1px;
    color: $textDarkPrimary;

    @media screen and (min-width: $breakPoint) {
        font-size: 2.2rem;
    }
}

@mixin titleSmall {
    @include title();
    font-size: 1rem;
    letter-spacing: 0px;

    @media screen and (min-width: $breakPoint) {
        font-size: 1.4rem;
    }
}
