$primaryLight: #0c86f8;
$primaryMain: rgb(0, 113, 241);
$primaryMid: rgb(0, 89, 190);
$primaryDark: rgb(0, 62, 134);
$secondaryLight: #fd849d;
$secondaryMain: #ff5174;
$secondaryDark: #ff224e;
$text: #cdcdcd;
$textPrimary: #fff;
$textDarkPrimary: rgb(50, 66, 85);
$textDark: rgb(61, 89, 121);
$white: #fff;
$black: #111;
$borderRadius: 10px;
$shadowColor: rgba(0, 0, 0, 0.15);
$shadow: $shadowColor 4px 6px 15px 0px;
$breakPoint: 1000px;
$fontHeading: 'Montserrat', sans-serif;
$fontBody: 'IBM Plex Sans', sans-serif;
$fontSize: 16px;
$lineHeight: 1.5;

@mixin fontSizeH2 {
    font-size: 25px;
    font-weight: 900;
    color: $primaryMain;
    line-height: 1;

    @media screen and (max-width: 1000px) {
        font-size: 20px;
    }
}

@mixin resPadding {
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    @media screen and (min-width: 1000px) {
        padding-right: 14vw;
        padding-left: 14vw;
    }
}

@mixin transition($property: all) {
    transition: $property 0.2s ease-in;
}

@mixin btnPrimary() {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    font-family: $fontBody;
    padding: 1rem 1.2rem;
    background-color: $primaryMain;
    border-radius: $borderRadius;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 0.8rem;
    z-index: 1;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        background-color: transparent;
        @include transition(background-color);
    }

    &:hover::before {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@mixin btnSecondary {
    @include btnPrimary();
    background-color: $secondaryLight;
}

@mixin section() {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    @include resPadding();
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 3rem;

    @media screen and (min-width: $breakPoint) {
        grid-template-columns: 50% 50%;
    }
}
