.scroll-indicator {
	@apply bg-dark;
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	top: 2px;
	left: 50%;
	transform: translate(-50%);
	animation: scroll-indicator-anim 1.5s ease-out infinite;
	opacity: 0;

	@keyframes scroll-indicator-anim {
		0% {
			opacity: 0;
			top: 2px;
			height: 8px;
			width: 8px;
		}
		40% {
			opacity: 1;
			top: 2px;
			height: 8px;
			width: 8px;
		}
		75% {
			width: 6px;
			height: 12px;
		}
		100% {
			opacity: 1;
			top: 34px;
			height: 8px;
		}
	}
}

.review-card {
	@apply w-full max-w-xl hidden flex-col justify-center items-center p-8 bg-white absolute top-1/2 left-1/2 -translate-y-1/2;

	&.fadeout-right {
		display: flex;
		animation: review-card-anim-fadeout-right 0.5s ease-in forwards;

		@keyframes review-card-anim-fadeout-right {
			0% {
				opacity: 1;
				transform: translate(-50%, -50%) scale(1);
			}
			100% {
				opacity: 0.6;
				transform: translate(-20%, -50%) scale(0.6);
			}
		}
	}

	&.fadeout-left {
		display: flex;
		animation: review-card-anim-fadeout-left 0.5s ease-in forwards;

		@keyframes review-card-anim-fadeout-left {
			0% {
				opacity: 1;
				transform: translate(-50%, -50%) scale(1);
			}
			100% {
				opacity: 0.6;
				transform: translate(-80%, -50%) scale(0.6);
			}
		}
	}

	&.fadein-right {
		display: flex;
		z-index: 1;
		animation: review-card-anim-fadein-right 0.5s ease-in forwards;

		@keyframes review-card-anim-fadein-right {
			0% {
				opacity: 0.6;
				transform: scale(0.6) translate(0%, -50%);
			}
			100% {
				opacity: 1;
				transform: scale(1) translate(-50%, -50%);
			}
		}
	}

	&.fadein-left {
		display: flex;
		z-index: 1;
		animation: review-card-anim-fadein-left 0.5s ease-in forwards;

		@keyframes review-card-anim-fadein-left {
			0% {
				opacity: 0.6;
				transform: translate(-100%, -50%) scale(0.6);
			}
			100% {
				opacity: 1;
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}
}
