@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #0070ff;
    --color-secondary: #576f8e;
}

*::after,
*::before,
* {
    @apply font-secondary;
}

body {
    max-width: 100vw !important;
    overflow-x: hidden !important;
    @apply bg-white text-gray-700;
}

@layer base {
    h1 {
        @apply text-3xl lg:text-4xl text-black font-bold font-primary mb-4;
    }

    h4 {
        @apply font-medium text-black text-xl font-primary mb-4;
    }

    section {
        @apply w-full flex flex-col justify-start items-start p-4;
    }
}

@layer components {
    .btn-primary {
        @apply rounded-md font-primary px-4 py-[8px] border-[4px] border-double border-gray-700 text-sm font-medium;
    }

    .btn-secondary {
        @apply rounded-md font-primary px-4 py-[10px] border-[1px] border-dashed border-gray-700 text-sm font-medium;
    }
}
