@tailwind base;
@tailwind components;
@tailwind utilities;

*::after,
*::before,
* {
    @apply font-secondary;
}

body {
    max-width: 100vw !important;
    overflow-x: hidden !important;
    @apply bg-white text-secondary;
}

.text-h1 {
    @apply font-bold font-primary;
    font-size: clamp(46px, 5vw, 88px);
    line-height: 1;
}

.btn-primary {
    @apply bg-primary text-white font-mono px-5 py-3 rounded-md transition-all duration-200 ease-out hover:bg-opacity-90;
}
